
.App {
  text-align: center;
  background-color: #1687a7;
  min-height: 100vh;
  overflow: hidden;
  color: #0a1d22;
}

.content {
  width: 90vw;
  margin: auto;
  margin-top: 1vh;
  padding: 6vh 3vw;
  background-color: #f6f5f5;
  border-radius: 8px;
}

.content h1 {
  margin-top: auto;
  color: #0a1d22;
}

.content p {
  margin: 3vh;
}

.content button {
  padding: 8px 24px;
  border-radius: 4px;
  border: #1687a7 1px solid;
  background-color: transparent;
  outline: none;
}

.content button:active {
  border: #d3e0ea 1px solid;
}

.toggle {
  margin-top: 1vh;
  margin-bottom: 4vh;
}

.input label {
  display: block;
  margin-bottom: 1vh;
}

.input textarea {
  resize: none;
  overflow: auto;
  min-height: 8vh;
  outline: none;
  width: 90%;
  border-radius: 5px;
  border:  #d3e0ea 1px solid;
}

.input button {
  display: block;
  margin: 1vh auto;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  .content {
    width: 50vw;
    margin-top: 16vh;
    border-radius: 24px;
    box-shadow: 1px 5px 20px #276678;
  }
}

@media only screen and (min-width: 1200px) {
  .content {
    width: 25vw;
  }
}